<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="CONN_STR" value="Data Source=MALEK\INSTANCE_2K14_01;Database=FPFC;User ID=sa;Password=sapassword"/>
    <add key="BLC_MESSAGES" value="D:\hard D\hard d 2\HARD DISK D\E-learning2021\App\BLC\Messages\Messages.xml" />
  </appSettings>
</configuration>